// DIN
@font-face {
    font-family: 'Din';
    src: local('Din-Regular'), local('Din-Regular'),
        url('#{$font-url}/Din-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Din';
    src: local('Din-Medium'), local('Din-Medium'),
        url('#{$font-url}/Din-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Din';
    src: local('Din-Bold'), local('Din-Bold'),
        url('#{$font-url}/Din-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}